vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Jan 2012 15:31:00 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|default12.html introduction.html
vti_author:SR|TOSHIBA\\Huzeifa Naim
vti_modifiedby:SR|TOSHIBA\\Huzeifa Naim
vti_timecreated:TR|23 Jan 2012 15:31:00 -0000
vti_cacheddtm:TX|23 Jan 2012 15:31:00 -0000
vti_filesize:IR|18446
vti_cachedlinkinfo:VX|Q|kickstart-buttons.css Q|kickstart-menus.css Q|kickstart-grid.css Q|jquery.fancybox-1.3.4.css Q|zellner.css S|img/icon-check.png S|img/icon-arrow-right.png S|img/icon-arrow-right.png S|img/breadcrumbs-bg.gif S|img/iconic/gray_dark/minus_alt_24x24.png S|img/iconic/gray_dark/x_alt_24x24.png S|img/iconic/gray_dark/check_24x20.png
vti_cachedsvcrellinks:VX|FQUS|css/kickstart-buttons.css FQUS|css/kickstart-menus.css FQUS|css/kickstart-grid.css FQUS|css/jquery.fancybox-1.3.4.css FQUS|css/zellner.css FSUS|css/img/icon-check.png FSUS|css/img/icon-arrow-right.png FSUS|css/img/icon-arrow-right.png FSUS|css/img/breadcrumbs-bg.gif FSUS|css/img/iconic/gray_dark/minus_alt_24x24.png FSUS|css/img/iconic/gray_dark/x_alt_24x24.png FSUS|css/img/iconic/gray_dark/check_24x20.png
